{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

 <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<!--- Navigation --> 

<div class="container pt-3">
    <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>

      {% for page in range(pages_number) %}

      <li class="page-item "><a class="page-link" href="/api/v1/resources/clients/all?page={{ page }}">{{ page + 1 }}</a></li>

      <!-- page+1 only changes the starting number from 0 to 1-->
      
      {% endfor %}

        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>

<!--- end of navigation-->


<div class="row">
        <div class="card card-body">
            <table class="table table-bordered table-hover table-sm">            
                <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>SP</th>
                    <th>SH</th>
                    <th>Actions</th>
                </tr>
                </thead>        
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td> {{result['id']}} </td>
                        <td> {{result['customer']}} </td>
                        <td> {{result['country']}} </td>
                        <td> {{result['region']}} </td>
                        <td> {{result['sp']}} </td>
                        <td> {{result['sh']}} </td>
                        <td>
                            <a href = '/api/v1/resources/clients/edit?id={{result["id"]}}' class="btn btn-primary" >Edit </a>
                            <a href = '/api/v1/resources/clients/delete?id={{result["id"]}}' class="btn btn-danger" > Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}