{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

 <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Pagination -->

<div class="container pt-3">
    <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item" id="Previous" >
        <a class="page-link" href="/api/v1/resources/clients/all?page={{ actual_page }}">Previous</a>
      </li>

      {% for page in range(1,pages_number+1) %}   
      <!-- +1 because range() will take out the last value -->

      <li class="page-item" id="Page {{ page }}">
        <a class="page-link" href="/api/v1/resources/clients/all?page={{ page }}">{{ page }}</a>
      </li>
      
      {% endfor %}
      

      <li class="page-item" id='Next' >
        <a class="page-link" href="/api/v1/resources/clients/all?page={{ actual_page+2 }}">Next</a>
      </li>

    </ul>
    </nav>
</div>

<!--- end of pagination-->

<div class="row">
        <div class="card card-body">
            <table class="table table-bordered table-hover table-sm">            
                <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>SP</th>
                    <th>SH</th>
                    <th>Actions</th>
                </tr>
                </thead>        
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td> {{result['id']}} </td>
                        <td> {{result['customer']}} </td>
                        <td> {{result['country']}} </td>
                        <td> {{result['region']}} </td>
                        <td> {{result['sp']}} </td>
                        <td> {{result['sh']}} </td>
                        <td>
                            <a href = '/api/v1/resources/clients/edit?id={{result["id"]}}' class="btn btn-primary" >Edit </a>
                            <a href = '/api/v1/resources/clients/delete?id={{result["id"]}}' class="btn btn-danger" > Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Rows per page -->
<div class="container">
  <div class="dropdown show pt-3 pb-3">
    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Results per page
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/api/v1/resources/clients/all?rpp=10">10</a>
      <a class="dropdown-item" href="/api/v1/resources/clients/all?rpp=20">20</a>
      <a class="dropdown-item" href="/api/v1/resources/clients/all?rpp=30">30</a>
    </div>
  </div>
</div>

<!-- End of rows per page -->

<!-- Scripts-->

<script src="{{url_for('static', filename='js/main.js')}}"></script>

<script>  var actual_page = {{ actual_page }}; </script>
<script>  var pages_number = {{ pages_number }}; </script>

<!-- end of scripts -->

{% endblock %}

