<form action="/api/v1/resources/clients/create/added" method = "POST">
    <input type="text" name="customer" id="" placeholder="Customer's name" required>
    <input type="text" name="country" id="" placeholder="Country" required maxlength="2">
    <input type="text" name="region" id="" placeholder="Region" required maxlength="3">
    <input type="text" name="sp" id="" placeholder="Sold to party" required>
    <input type="text" name="sh" id="" placeholder="Ship to party" required>
    <button type="submit">
        Save
    </button>

</form>