{% extends 'layout w-o nav.html' %}

{% block body %}


<div class="container pt-3">
        <div class="card mx-auto w-50 text-center">
        <div class="card-body">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="row justify-content-center">
                    {{ form.user.label }}
                    {{ form.user }}<br>
                    {% for error in form.user.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    {{ form.password.label }}
                    {{ form.password }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class='col md-auto pt-3'>
                    {{ form.submit() }}
                </div> 
            </form>
        </div> 
        </div>
</div>


{% endblock %}